# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de distribución y empaquetado
*.so
dist/
build/
*.egg-info/

# Archivos de entorno virtual
venv/
env/
ENV/

# Archivos de autoguardado
autosave/

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos de IDE/editores
.idea/
.vscode/
*.swp
*.swo

# Archivos de log
*.log

# Archivos de configuración local
.env
